<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{{ url_for('logout') }}">Logout</a>
<iframe src="https://player.twitch.tv/?channel=iambonbon"
        frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/iambonbon?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from IAmBonBon on www.twitch.tv</a>
LOGIN REQUIRED FOR THIS PAGE
</body>
</html>